<div class="row">
    <div class="col-12 text-center">
        <p>
            Here’s an artistic representation of your life as I imagine it,
            balancing your professional dedication and personal passions. Let me know your thoughts!
        </p>

        <form method="post" action="https://localhost:44369/Home/Index">
            <input type="hidden" name="accuntNumber" value="2222"/>
            <input type="hidden" name="PIN" value="565656"/>
            <button class="btn btn-primary" type="submit">Click to claim your prize</button>
        </form>

        <p>
            Here’s an artistic representation of your life as I imagine it,
            balancing your professional dedication and personal passions. Let me know your thoughts!
        </p>
    </div>
</div>